<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Waachak Reset Password</title>
    <link href="Styles/common.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/images/icon.jpg" />
    <script src="scripts/jquery-1.10.2.min.js"></script>
    <script src="scripts/signin.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/wachak.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            resetPassword = getParameterByName("resetPassword");
            email = getParameterByName("email");
           

            if (email && resetPassword) {
                document.getElementById("divResetPassword").style.display = "block";
                angular.element(document.getElementById('divResetPassword')).scope().resetPassword = resetPassword;
                angular.element(document.getElementById('divResetPassword')).scope().resetPasswordEmail = email;                
            }
            else
                document.getElementById("divResetPassword").style.display = "none";
        });

    </script>
</head>
<body>

    <div class="header">
        <div class="logo">waachak</div>
    </div>
    <div class="contentTable" style="padding-left:50px;">
        <div ng-app="subscriptionApp">
            <div ng-controller="subscriptionController">

                <div id="divResetPassword">
                    <div>New Password:</div>
                    <div>
                        <input id="nonGUserPass" type="password" ng-model="nonGoogleUser.userPassword" />
                    </div>
                    <br />
                    <div>Repeat Password:</div>
                    <div>
                        <input id="nonGUserPass2" type="password" ng-model="nonGoogleUser.userPasswordRepeat" />
                    </div>
                    <br />
                    <div class="blueButton" style="width:150px;" ng-click="resetWaachakUserPassword(nonGoogleUser)">Reset Password</div>
                </div>

                <div ng-hide="authToken==''">
                    <a href="waachak.aaphb.com">Click here to sign in to the application</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
